@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: auto;
  padding: 0%;
}

body{
  font-family: poppins, sans-serif;
  font-size: 16px;
  background-color: rgb(32, 25, 20);
}

#header {
    background-color: rgba(250, 245, 238, 0.9);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:  1px 2px 16px #6262626c;
}

#header nav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

#header nav a{
    text-decoration: none;
    color: rgb(32, 25, 20);
    margin: 0px 15px;
    font-weight: 400;
    font-size: 18px;
}

#header nav a:hover{
    color: rgb(100, 65, 23);
    font-weight: 600;
    text-decoration: underline;
}

#header a img{
    width: 40px;
    padding: 8px;
    margin: 8px 20px;
}
#header a img:hover{
    border: 1.5px solid rgb(100, 65, 23);
    border-radius: 60px;
    cursor: pointer;
}